<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function csv()
{    var csvContent = "";
     var list=[];
     `<% lista.map(function(value, index) { %>`
       var item= '<%= value.datasolicitacao.toLocaleString("pt-BR", { dateStyle: "short" }) %>;<%= value.datainicio.toLocaleString("pt-BR", { dateStyle: "short" }) %>;<%= value.datatermino.toLocaleString("pt-BR", { dateStyle: "short" }) %>;<%= value.anoReferencia %>;<%= value.funcionarioNome %>;<%= value.motivo %>;<%= value.status %>;<%= value.respostaGestor %>'
       csvContent += item + "\r\n";
        
          `<% }) %>`     
     

          var cabecario = "data:text/csv;charset=utf-8,Data Solicitação;Data Inicio;Data Término;Periodo Aquisitivo;Nome;Motivo;Status;Resposta do Gestor\r\n";


csvContent = cabecario+csvContent;

var encodedUri = encodeURI(csvContent);
window.open(encodedUri);

}
    </script>
</head>

<body>

    <div class="container">
        <h2>Férias Gestor</h2>
        <br>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search" method="post" action="/aprovarferias/buscarferias"> 
                <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search" name="busca" id="busca">
                <input class="form-control me-2" type="date" id="dataInicio" name="dataInicio" alt="dataInicio" required="">
                <input class="form-control me-2" type="date" id="dataFinal" name="dataFinal" alt="dataFinal" required="">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
    
              <button type="button" onclick="csv()" class="btn btn-success">Baixar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet" viewBox="0 0 16 16">
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"></path>
              </svg></button>
             <!--
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo" onclick="document.getElementById('funcionario_idFuncionario').value=document.cookie.split('=')[1]"><i class="fas fa-plus"></i> Cadastrar</button>
             --> 
            </div>
          </nav>
        <!-- Tabela para exibir as solicitações de férias -->
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Data Solicitação</th>
                    <th>Data Início</th>
                    <th>Data Término</th>
                    <th>Periodo Aquisitivo</th>
                    <th>Nome</th>
                    <th>Motivo</th>
                    <th>Status</th>
                    <th>Resposta do Gestor</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <% lista.forEach(function(value) { %>
                    <% if (value.motivo && value.status) { %>
                        <tr>
                            <td><%= value.datasolicitacao.toLocaleString('pt-BR', { dateStyle: "short" }) %></td>
                            <td><%= value.datainicio.toLocaleString('pt-BR', { dateStyle: "short" }) %></td>
                            <td><%= value.datatermino.toLocaleString('pt-BR', { dateStyle: "short" }) %></td>
                            <td><%= value.anoReferencia %></td>
                            <td><%= value.funcionarioNome %></td>
                            <td><%= value.motivo %></td>
                            <td><%= value.status %></td>
                            <td><%= value.respostaGestor %></td>
                            <td>
                                <% if (value.status === 'Pendente') { %>
                                    <!-- Botões de Aprovar e Rejeitar -->
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalRespostaAprovada" data-solicitacao-id="<%= value.idsolicitacaoFerias %>">Aprovar</button>
                                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRespostaRejeitada" data-solicitacao-id="<%= value.idsolicitacaoFerias %>">Rejeitar</button>
                                    </div>
                                <% } else { %>
                                    <!-- Se a solicitação já foi processada, exibe uma mensagem -->
                                    <span class="badge badge-secondary">Já Processado</span>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Modal de Resposta para Aprovação -->
    <div class="modal fade" id="modalRespostaAprovada" tabindex="-1" role="dialog" aria-labelledby="modalRespostaAprovadaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRespostaAprovadaLabel">Resposta da Aprovação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="respostaAprovada" placeholder="Digite sua resposta...">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="aprovarSolicitacaoComResposta()">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Resposta para Rejeição -->
    <div class="modal fade" id="modalRespostaRejeitada" tabindex="-1" role="dialog" aria-labelledby="modalRespostaRejeitadaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRespostaRejeitadaLabel">Resposta da Rejeição</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="respostaRejeitada" placeholder="Digite sua resposta...">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="rejeitarSolicitacaoComResposta()">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        var idSolicitacaoAtual;

        $('#modalRespostaAprovada').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            idSolicitacaoAtual = button.data('solicitacao-id');
        });

        $('#modalRespostaRejeitada').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            idSolicitacaoAtual = button.data('solicitacao-id');
        });

        function aprovarSolicitacaoComResposta() {
            var resposta = $('#respostaAprovada').val();
            enviarAprovacaoRejeicao(idSolicitacaoAtual, 'Aprovado', resposta);
        }

        function rejeitarSolicitacaoComResposta() {
            var resposta = $('#respostaRejeitada').val();
            enviarAprovacaoRejeicao(idSolicitacaoAtual, 'Rejeitado', resposta);
        }


        function enviarAprovacaoRejeicao(idsolicitacaoFerias, status, resposta) {
            fetch('aprovarferias/alterarsolicitacaoferias', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        idsolicitacaoFerias: idsolicitacaoFerias,
                        status: status,
                        respostaGestor: resposta
                    })
                })
                .then(response => {
                    console.log('Resposta recebida do backend:', response);
                    // Atualizar a página após o envio bem-sucedido, se necessário
                    // window.location.reload();
                })
                .catch(error => {
                    console.error('Erro ao enviar solicitação para o backend:', error);
                });
        }
    </script>

</body>

</html>
