<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <h2>Férias Gestor</h2>
        <br>

        <!-- Tabela para exibir as solicitações de férias -->
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Data Solicitação</th>
                    <th>Data Início</th>
                    <th>Data Término</th>
                    <th>Nome</th>
                    <th>Motivo</th>
                    <th>Status</th>
                    <th>Resposta do Gestor</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <% lista.map(function(value, index) { %>
                    <tr>
                        <td><%= value.datasolicitacao.toLocaleString('pt-BR',{dateStyle:"short"});%></td>
                        <td><%= value.datainicio.toLocaleString('pt-BR',{dateStyle:"short"}); %></td>
                        <td><%= value.datatermino.toLocaleString('pt-BR',{dateStyle:"short"}); %></td>
                        <td><%= value.funcionarioNome %></td>
                        <td><%= value.motivo %></td>
                        <td><%= value.status %></td>
                        <td><%= value.respostaGestor %></td>
                        <td>
                            <% if (value.status === 'Pendente') { %>
                                <!-- Botões de Aprovar e Rejeitar -->
                                <div class="btn-group">
                                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalRespostaAprovada" data-solicitacao-id="<%= value.idsolicitacaoFerias %>">Aprovar</button>
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRespostaRejeitada" data-solicitacao-id="<%= value.idsolicitacaoFerias %>">Rejeitar</button>
                                </div>
                            <% } else { %>
                                <!-- Se a solicitação já foi processada, exibe uma mensagem -->
                                <span class="badge badge-secondary">Já Processado</span>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Modal de Resposta para Aprovação -->
    <div class="modal fade" id="modalRespostaAprovada" tabindex="-1" role="dialog" aria-labelledby="modalRespostaAprovadaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRespostaAprovadaLabel">Resposta da Aprovação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="respostaAprovada" placeholder="Digite sua resposta...">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="aprovarSolicitacaoComResposta()">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Resposta para Rejeição -->
    <div class="modal fade" id="modalRespostaRejeitada" tabindex="-1" role="dialog" aria-labelledby="modalRespostaRejeitadaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRespostaRejeitadaLabel">Resposta da Rejeição</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="respostaRejeitada" placeholder="Digite sua resposta...">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="rejeitarSolicitacaoComResposta()">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        var idSolicitacaoAtual;

        $('#modalRespostaAprovada').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            idSolicitacaoAtual = button.data('solicitacao-id');
        });

        $('#modalRespostaRejeitada').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            idSolicitacaoAtual = button.data('solicitacao-id');
        });

        function aprovarSolicitacaoComResposta() {
            var resposta = $('#respostaAprovada').val();
            enviarAprovacaoRejeicao(idSolicitacaoAtual, 'Aprovado', resposta);
        }

        function rejeitarSolicitacaoComResposta() {
            var resposta = $('#respostaRejeitada').val();
            enviarAprovacaoRejeicao(idSolicitacaoAtual, 'Rejeitado', resposta);
        }


        function enviarAprovacaoRejeicao(idsolicitacaoFerias, status, resposta) {
            fetch('aprovarferias/alterarsolicitacaoferias', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        idsolicitacaoFerias: idsolicitacaoFerias,
                        status: status,
                        respostaGestor: resposta
                    })
                })
                .then(response => {
                    console.log('Resposta recebida do backend:', response);
                    // Atualizar a página após o envio bem-sucedido, se necessário
                    // window.location.reload();
                })
                .catch(error => {
                    console.error('Erro ao enviar solicitação para o backend:', error);
                });
        }
    </script>

</body>

</html>
