<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Solicitação de Férias</title>
</head>

<body>

  <div class="container">
    <h2>Solicitação de Férias</h2>
    <br>
    <!-- Formulário de Solicitação de Férias -->
    <form id="vacationForm" method="post" action="/solicitarferias/cadastrarsolicitacaoferias">
      <div class="form-group">
        <label for="startDate">Data de Início:</label>
        <input type="date" class="form-control" id="datainicio" name="datainicio"
          onchange="document.querySelector('#datatermino').min=this.value" required>
      </div>
      <div class="form-group">
        <label for="endDate">Data de Término:</label>
        <input type="date" class="form-control" id="datatermino" name="datatermino" required>
      </div>
      <div class="form-group">
        <label for="reason">Motivo:</label>
        <textarea class="form-control" id="motivo" name="motivo" rows="4" required></textarea>
      </div>
      <!-- Adicionando campo hidden para o status -->
      <input type="hidden" name="status" id="status" value="Pendente">
      <!-- Adicionando campo hidden para a data de solicitação -->
      <input type="hidden" name="datasolicitacao" id="dataSolicitacao">
      <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
    </form>
    <br>
    <% if (lista && lista.length > 0) { %>
        <p><strong>Data de Admissão:</strong> <%= lista[0].dataAdmissao.toLocaleString('pt-BR',{dateStyle:"short"}) %></p>
        <p><strong>Dias Disponíveis:</strong> <%= lista[0].diasFeriasDisponiveis %></p>
    <% } else { %>
        <p>Nenhum registro de férias disponível</p>
    <% } %>

    <hr>

    <div id="lastRecords" class="mt-4">
      <h3>Histórico de Solicitações</h3>
      <br>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Data Solicitação</th>
            <th>Data Início</th>
            <th>Data Término</th>
            <th>Motivo</th>
            <th>Status</th>
            <th>Resposta do Gestor</th>
          </tr>
        </thead>
        <tbody>
          <% if (lista && lista.length > 0) {
            lista.forEach(function(value, index) { %>
                <tr>
                    <td><%= value.datasolicitacao.toLocaleString('pt-BR', { dateStyle: "short" }) %></td>
                    <td><%= value.datainicio.toLocaleString('pt-BR', { dateStyle: "short" }) %></td>
                    <td><%= value.datatermino.toLocaleString('pt-BR', { dateStyle: "short" }) %></td>
                    <td><%= value.motivo %></td>
                    <td><%= value.status %></td>
                    <td><%= value.respostaGestor %></td>
                </tr>
            <% });
          } else { %>
              <tr>
                  <td colspan="7">Nenhum registro de férias disponível</td>
              </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  <script>
    // Evento para preencher o campo de status com "pendente" antes de enviar o formulário
    document.getElementById('vacationForm').addEventListener('submit', function(event) {
      // Preenche o campo de status com "pendente"
      document.getElementById('status').value = 'Pendente';
      
      // Obtém a data atual
      var dataAtual = new Date();
      
      // Define o valor do campo de data de solicitação como a data atual
      document.getElementById('dataSolicitacao').value = dataAtual.toISOString().split('T')[0];
      
      // Exibe os dados que serão enviados para o backend
      var formData = new FormData(document.getElementById('vacationForm'));
      var jsonData = {};
      formData.forEach(function(value, key){
        jsonData[key] = value;
      });
      console.log(jsonData);
      
    });
  </script>
</body>

</html>
