<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <h2>Solicitação de Férias</h2>
  <br>
  <!-- Formulário de Solicitação de Férias -->
  <form id="vacationForm" method="post" action="/solicitarferias/cadastrarsolicitacaoferias">
    <div class="form-group">
      <label for="startDate">Data de Início:</label>
      <input type="date" class="form-control" id="datainicio" name="datainicio" onchange="document.querySelector('#endDate').min=this.value" required>
    </div>
    <div class="form-group">
      <label for="endDate">Data de Término:</label>
      <input type="date" class="form-control" id="datatermino" name="datatermino" required>
    </div>
    <div class="form-group">
      <label for="reason">Motivo:</label>
      <textarea class="form-control" id="motivo" name="motivo" rows="4" required></textarea>
    </div>
    <!-- Adicionando campo hidden para o status -->
    <input type="hidden" name="status" id="status" value="Pendente">
    <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
  </form>
  <br>
  <% for(var i = 0; i < 1; i++) { %>
    <p><strong>Data de Admissão:</strong> <%= lista[i].dataAdmissao.toLocaleString('pt-BR',{dateStyle:"short"}) %></p>
    <p><strong>Dias Disponiveis:</strong> <%= lista[i].diasFeriasDisponiveis%></p>
  <% } %>
  <hr>

  <div id="lastRecords" class="mt-4">
    <h3>Histórico de Solicitações</h3>
    <br>
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Data Inicio</th>
          <th>Data Termino</th>
          <th>Ano Referencia</th>
          <th>Motivo</th>
          <th>Status</th>
          <th>Resposta</th>
        </tr>
      </thead>
      <tbody>
        <% lista.map(function(value, index) { %>
          <tr>
            <td>
              <%= value.datainicio.toLocaleString('pt-BR',{dateStyle:"short"});%>
            </td>
            <td>
              <%= value.datatermino.toLocaleString('pt-BR',{dateStyle:"short"});%>
            </td>
            <td>
              <%= value.anoReferencia%>
            </td>
            <td>
              <%= value.motivo%>
            </td>
            <td>
              <%= value.status%>
            </td>
            <td>
              <%= value.respostaGestor%>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  
  <hr>
  
</div>

<script>
  // Evento para preencher o campo de status com "pendente" antes de enviar o formulário
  document.getElementById('vacationForm').addEventListener('submit', function(event) {
    // Preenche o campo de status com "pendente"
    document.getElementById('status').value = 'Pendente';
    
    // Verifica a data atual
    var dataAtual = new Date();
    
    // Verifica se a data de início das férias está no passado
    var dataInicio = new Date(document.getElementById('datainicio').value);
    if (dataInicio < dataAtual) {
      alert("Você não pode solicitar férias com datas anteriores ou igual à data atual.");
      event.preventDefault(); // Impede o envio do formulário
    } else {
      // Verifica a data de admissão e calcula o período de aquisição de férias
      var dataAdmissao = new Date('<%= lista[0].dataAdmissao %>');
      var dataAquisicaoFerias = new Date(dataAdmissao);
      dataAquisicaoFerias.setMonth(dataAquisicaoFerias.getMonth() + 12);
      
      // Verifica se a data de início das férias está dentro do período permitido
      if (dataInicio < dataAquisicaoFerias) {
        var dataAquisicaoFormatada = dataAquisicaoFerias.toLocaleDateString('pt-BR', {day: '2-digit', month: 'long', year: 'numeric'});
        alert("Você só pode solicitar férias após o período de aquisição, a partir de " + dataAquisicaoFormatada + ".");
        event.preventDefault(); // Impede o envio do formulário
      } else {
        // Calcula a data limite para tirar as férias
        var dataLimite = new Date(dataAquisicaoFerias);
        dataLimite.setMonth(dataLimite.getMonth() + 11); // Adiciona 11 meses para obter o prazo máximo
        
        if (dataInicio > dataLimite) {
          var dataLimiteFormatada = dataLimite.toLocaleDateString('pt-BR', {day: '2-digit', month: 'long', year: 'numeric'});
          alert("Você deve tirar as férias até um mês antes do vencimento do segundo período aquisitivo, ou seja, até " + dataLimiteFormatada + ".");
          event.preventDefault(); // Impede o envio do formulário
        }
      }
    }
  });
</script>








</body>
</html>
