<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <h2>Solicitação de Férias</h2>
  <br>
  <!-- Formulário de Solicitação de Férias -->
  <form id="vacationForm" method="post" action="/solicitarferias/cadastrarsolicitacaoferias">
    <div class="form-group">
      <label for="startDate">Data de Início:</label>
      <input type="date" class="form-control" id="datainicio" name="datainicio" onchange="document.querySelector('#endDate').min=this.value" required>
    </div>
    <div class="form-group">
      <label for="endDate">Data de Término:</label>
      <input type="date" class="form-control" id="datatermino" name="datatermino" required>
    </div>
    <div class="form-group">
      <label for="reason">Motivo:</label>
      <textarea class="form-control" id="motivo" name="motivo" rows="4" required></textarea>
    </div>
    <!-- Adicionando campo hidden para o status -->
    <input type="hidden" name="status" id="status" value="Pendente">
    <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
  </form>
  <br>
  <% for(var i = 0; i < 1; i++) { %>
    <p><strong>Data de Admissão:</strong> <%= lista[i].dataAdmissao.toLocaleString('pt-BR',{dateStyle:"short"}) %></p>
    <% 
      var dataAdmissao = new Date(lista[i].dataAdmissao);
      var dataAtual = new Date();
      var umAnoEmMilissegundos = 1000 * 60 * 60 * 24 * 365;
      var diferencaEmMilissegundos = dataAtual - dataAdmissao;
      var diferencaEmAnos = diferencaEmMilissegundos / umAnoEmMilissegundos;
      var diasDisponiveis = 0;
      
      if (diferencaEmAnos >= 1) {
        // O funcionário completou pelo menos um ano de trabalho
        diasDisponiveis = Math.floor(diferencaEmAnos) * 30; // Considerando 30 dias de férias por ano
      } else {
        // O funcionário não completou um ano de trabalho ainda
        diasDisponiveis = 0;
        // Defina uma mensagem indicando que o funcionário ainda não tem direito a férias
        var statusFerias = "Funcionário ainda não possui férias disponíveis";
      }
    %>
    <p><strong>Dias Disponíveis:</strong> <%= diasDisponiveis %></p>
    <% if (statusFerias) { %>
      <p><strong>Status:</strong> <%= statusFerias %></p>
    <% } %>
  <% } %>
  
  
  

  
  <hr>

  <div id="lastRecords" class="mt-4">
    <h3>Histórico de Solicitações</h3>
    <br>
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Data Inicio</th>
          <th>Data Termino</th>
          <th>Motivo</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% lista.map(function(value, index) { %>
          <tr>
            <td>
              <%= value.datainicio.toLocaleString('pt-BR',{dateStyle:"short"});%>
            </td>
            <td>
              <%= value.datatermino.toLocaleString('pt-BR',{dateStyle:"short"});%>
            </td>
            <td>
              <%= value.motivo%>
            </td>
            <td>
              <%= value.status%>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  
  <hr>
  
</div>

<script>
  // Evento para preencher o campo de status com "pendente" antes de enviar o formulário
  document.getElementById('vacationForm').addEventListener('submit', function(event) {
    // Preenche o campo de status com "pendente"
    document.getElementById('status').value = 'Pendente';
  });
</script>

</body>
</html>
